<div class="container">
    <div class="search-box">
      <form [formGroup]="searchForm" class="form" (ngSubmit)="submitForm()">
        <label>Numero Reserva</label><br>
        <div>
          <input
            required
            formControlName="code"
            type="text"
            class="form-control"
            placeholder="ENTER CODE"
          />
        </div>
        <button type="submit" [disabled]="!searchForm.valid" >Submit</button>
        </form>
    </div>
    <div class="result-box" *ngIf="resultComponent">
        <app-reservation></app-reservation>
    </div>
</div>