<div class="result-box container">
  <div class="result-container" *ngFor="let reservation of reservations">
    <div class="flight-info">
      <div>
        <div class="reservation-code">
          CODIGO RESERVA <br> {{reservation.code}}
        </div>
        <span class="total-time" id="duration{{reservation.flight.id}}">{{transfromTime(reservation.flight.duration)}}</span><br>
        <span class="total-time" id="date-flight{{reservation.flight.id}}"> {{reservation.flight.dateTime|date:'MMM d, y'}} </span>
      </div>
      <span class="time-location-info">
        <span class="hour-city-group">
          <span class="hour" id="depart-hour{{reservation.flight.id}}"> {{reservation.flight.dateTime|date:'hh:mm a'}}</span>
          <span class="city" id="depart-city{{reservation.flight.id}}">
            {{getCityAlias(reservation.flight.departure_airport)}}</span>
        </span>
        <span>
          <span class="flight-separator-line"> ____________________ </span>
        </span>
        <span>
          <span class="material-icons"> flight_takeoff </span>
        </span>
        <span>
          <span class="flight-separator-line"> ____________________ </span>
        </span>
        <span class="hour-city-group">
          <span class="hour" id="landing-hour{{reservation.flight.id}}">{{getLandingTime(reservation.flight.dateTime,
            reservation.flight.duration) | date: 'hh:mm a'}}</span>
          <span class="city"
            id="landing-city{{reservation.flight.id}}">{{getCityAlias(reservation.flight.destination_airport)}}</span>
        </span>
      </span>
    </div>
    <div class="extra-info">
      <h3>VUELO</h3>
      <div class="info">
        <div> <b>Numero Vuelo: </b>{{reservation.flight.airline}}{{reservation.flight.id}}</div>
        <div id="depart-airport"> <b>Aeropuerto Despegue: </b>{{getAirportName(reservation.flight.departure_airport)}} </div>
        <div id="landing-airport"> <b> Aeropuerto Aterrizaje: </b>{{getAirportName(reservation.flight.destination_airport)}}</div>
      </div>
    </div>
    <h3>PRECIO TOTAL</h3>
    <div class="Reservation-info info">
      <div> <b>Precio Reserva: </b>{{reservation.price}}COP</div>
    </div>
    <div class="actions info">
      <button type="submit" routerLink="/reservation/{{reservation.code}}">Mas Información</button>
      <button type="submit" (click)="cancelReservation(reservation.code)">Cancelar Reserva</button>
    </div>
  </div>
</div>
