
<div class="container">
    <form [formGroup]="PassangerForm" class="form" >
      <label> Pasajero</label>
      <div>
        <label>NOMBRE</label>
        <input
        required
          formControlName="name"
          type="text"
          class="form-control"
          placeholder="Ingrese Nombre"
        />
      </div>
      <div>
        <label>APELLIDO</label>
        <input
        required
          formControlName="lastname"
          type="text"
          class="form-control"
          placeholder="Ingrese Apellido"
        />
      </div>
      <div>
        <label>NUMERO ID</label>
        <input
        required
          formControlName="id"
          type="text"
          class="form-control"
          placeholder="Ingrese Numero Identificacion"
        />
      </div>
      <div>
        <label>TIPO ID </label>
          <select formControlName="id_type"  class="form-control" >
            <option value="" selected disabled >SELECCIONE TIPO DE ID</option>    
            <option value="cc"> Cedula.Ciudadania</option>
            <option value="ti"> Tarjeta.Identidad</option>
            <option value="pasaporte"> Pasaporte </option>
        </select>
      </div>
    
      <div>
        <label>EDAD</label>
        <input
        required
          formControlName="age"
          type="number"
          class="form-control"
          placeholder="Ingrese Edad"
        />
      </div>
    
      <h4> SELECCIONE PUESTO </h4>
      <div class="seats">
          <app-seat-selector></app-seat-selector>
      </div>
    
    </form>
    
    
    
    </div>