.container{
    padding: 2%;
    border-style: groove;
    text-align: center;
    margin-top: 5%;
}
.total-time{
    margin-left: -40%;
}
.hour-city-group{
    margin: 0% 3%;
    display: inline-grid;
    font-size: x-large;
    font-weight: bolder;
}

.flight-separator-line{
    vertical-align: super;
}

.flight-detail-group{
    display: inline-grid;
    margin-right: 5%;
    vertical-align: text-bottom;
    font-size: large;

}

.price{
    font-size: xx-large;
    font-weight:900;
}
