
<form class="container row">
    <div class="col-md-6">
      <label for="name" class="form-label">Name</label>
      <input type="text" class="form-control" id="name">
    </div>
    <div class="col-md-6">
      <label for="lastname" class="form-label">Lastname</label>
      <input type="text" class="form-control" id="lastname">
    </div>
    <div class="col-md-6">
      <label for="identification" class="form-label">Identification</label>
      <input type="text" class="form-control" id="identification">
    </div>
      <div class="col-md-6">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email">
      </div>
      <div class="col-md-6">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password">
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-primary">Sign in</button>
      </div>
    </form>
  
