
  
<div class="container">
  <form [formGroup]="userForm" class="form" (ngSubmit)="submitForm()">
    <div >
      CORREO
      <input required type="email" formControlName="email" placeholder="CORREO"/>
    </div>
    <div >
      NOMBRE
      <input required type="text" formControlName="name" placeholder="NOMBRE"/>
    </div>
    <div >
      APELLIDO
      <input required type="text" formControlName="lastname" placeholder="APELLIDO" />
    </div>
    TIPO DOCUMENTO <br />
    <div class="option">
      <select formControlName="id_type" class="form-control" id="id" required>
        <option value="" selected disabled>SELECCIONE  DOCUMENTO</option>
        <option  value="Pasaporte" required> PASAPORTE</option>
        <option  value="cedulaCiudadania" required> CEDULA CIUDADANIA</option>
      </select>
    </div>
    <div >
      NUMERO DOCUMENTO IDENTIFICACION
      <input  required type="text" formControlName="id" placeholder="IDENTIFICACION"/>
    </div>
    <div >
      FECHA NACIMIENTO
      <input required type="date" formControlName="birthdate" value="" min="1000-11-11"
        max="2003-12-31" />
    </div>
    <div >
      TELÉFONO
      <input required type="number" formControlName="phone" placeholder="TELEFONO"/>
    </div>
    <div >
      CLAVE
      <input required type="password" formControlName="password" placeholder="*****" />
    </div>

    <button type="submit" [disabled]="!userForm.valid">Submit</button>
  </form>
</div>