
    <div class="container">
      <form [formGroup]="flightForm" class="form" (ngSubmit)="submitForm()">
        <h3>AEROPUERTO SALIDA </h3>
        <span class="option">
          <select formControlName="departure_airport" class="form-control" required>
            <option value="" selected disabled>SELECCIONE AEROPUERTO SALIDA</option>
            <option *ngFor="let airport of airports" value="{{ airport.id }}" required>
              {{ airport.name }}
            </option>
          </select>
        </span>
        <h3>AEROPUERTO LLEGADA</h3>
        <span class="option">
          <select formControlName="destination_airport" class="form-control" required>
            <option value="" selected disabled>
              SELECCIONE AEROPUERTO LLEGADA
            </option>
            <option *ngFor="let airport of airports" value="{{ airport.id }}" required>
              {{ airport.name }}
            </option>
          </select>
        </span>
        <span >
          <h3>FECHA VUELO</h3>
          <input required type="datetime-local" class="form-control" formControlName="dateTime" value="" min="2021-11-11T00:00"
            max="2022-12-31T00:00" />
        </span>
        <p></p>
        <span>
          <h3>DURACION <i>(min)</i></h3>
          <input required formControlName="duration" type="number" class="form-control" placeholder="DURACION" />
        </span>
       <h3> AVION </h3>
        <span class="option">
          <select formControlName="plane_id" class="form-control" required>
            <option value="" selected disabled>SELECCIONE AVION</option>
            <option *ngFor="let plane of airplanes" value="{{plane.id}}" required>
              {{ plane.model }}
            </option>
          </select>
        </span>
        <span>
         <h3>AEROLINEA</h3>
          <input required formControlName="airline" type="text" class="form-control" placeholder="Avianca" />
        </span>
        <span>
          <h3>PRECIO COP</h3>
          <input required formControlName="price" type="number" class="form-control" placeholder="PRECIO" />
        </span>
    
        <button type="submit" [disabled]="!flightForm.valid">Actualizar</button>
        <button routerLink="/manageFlights" (click)="deleteFlight()">Eliminar</button>
      </form>
    </div>
