.container{
    padding: 2%;
    border-style: groove;
    text-align: center;
    margin-left: 10%;
}

.form-control{
    text-align: center;
}

h3{
    margin-top: 2%;
    margin-bottom: 0% !important;
    font-weight: bold;
}

button{
    margin: 3% 2% 0% 0%;
}